{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
   <!-- Page header -->
   <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-1">
            <h1 class="fw-bolder">User Profile</h1>
        </div>
    </div>
    </header>
    <div class="container">
        <!-- User Profile Form -->
        <h2 class="h4"><b>Username: {{ user.username }}</b></h2>
        <form method="POST" enctype="multipart/form-data" class="mb-5">
            <fieldset class="form-group">
                {% csrf_token %}              
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <br>
                <button class="btn btn-primary btn-lg" type="submit">Update</button>
                <a class="btn btn-secondary btn-lg" href="{% url 'home' %}">Cancel</a>
            </div>
            <div>
                <a class="btn btn-outline-secondary btn-sm mt-3 mb-3" href="{% url 'account_change_password' %}">Change Password</a>
            </div>
            <hr>
            <div>
                <a class="btn btn-outline-danger btn-sm mt-3 mb-5" href="{% url 'delete_profile' user.id %}">Delete Account</a>
            </div>
        </form>
    </div>
{% endblock content %}
