{% extends "base.html" %}

{% block content %}
   <!-- Page header -->
   <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-1">
            <h1 class="fw-bolder">Delete Your Account</h1>
        </div>
    </div>
    </header>
    <div class="container">
        <!-- Check user and confirm to delete account -->
        <form method="POST" enctype="multipart/form-data" class="mb-5 vh-100">
            {% csrf_token %}
            {% if user.is_superuser %}
                <fieldset class="form-group offset-md-3">
                    <legend>Account "{{ user.username }}" is an Administration Account.</legend>
                    <p>Delete not allowed from here. Use control panel.</p>
                </fieldset>
                <div class="form-group offset-md-3">
                    <br>
                    <a class="btn btn-secondary btn-sm mb-5" href="{% url 'home' %}">Cancel</a>
                </div>
            {% else %}
                <fieldset class="form-group offset-md-1">
                    <legend>Are you sure you want to delete your account and all your posts?</legend>
                    <p><strong>Account: "{{ user.username }}"</strong></p>
                </fieldset>
                <div class="form-group offset-md-1">
                    <br>
                    <button class="btn btn-danger btn-sm mb-5" type="submit">Yes, Delete</button>
                    <a class="btn btn-secondary btn-sm mb-5" href="{% url 'home' %}">Cancel</a>
                </div>
            {% endif%}
        </form>
    </div>
{% endblock content %}
