/*
* Styles for post_detail page ------------------------------------------ START
*/

/* Mask title banner image and text */

.masthead {
  margin-top: 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  height: 33vh;
  width: 100%;
}

.masthead-text {
  background-color: #445261;
  color: white;
  position: relative;
}

.masthead-image {
  position: relative;
  overflow: hidden;
}

.masthead-image:after {
  content: "";
  position: absolute;
  top: 0;
  right: 90%;
  height: 100%;
  width: 150%;
  background: #445261;
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  transform: skew(15deg);
  z-index: 100;
}

/* Styles post details, comment and like */

.post-title {
  margin-top: 20%;
  margin-left: 5%;
}

.post-subtitle {
  margin-left: 5%;
  color: lightgray;
}

.card-comment {
  border: none;
  background-color: transparent;
}

.btn-like {
  color: #E84610;
  border: none;
  background: transparent;
}

.btn-like:hover,
.btn-like:active {
  color: #E84610;
  background: transparent;
  border: none;
}

/* Main Banner image */

.img-banner
{
    box-shadow:1px 1px 5px #000;
}

/*
* Styles for post_detail page ------------------------------------------ END
*/

/*
* Customise style for Page Footer to match nav bar --------------------- START
*/

.footer-text {
  color: #FFFFFF8C;
}

.footer-link {
  color: #FFFFFF8C;
  text-decoration: none;
}

.footer-link:hover {
  color: #FFFFFFC2;
}

/*
* Customise style for Page Footer to match nav bar --------------------- END
*/