{% extends 'base.html' %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">World Travelogue</h1>
                <p class="post-subtitle">About Us</p>
                <br>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- Default image -->
                <img src="https://res.cloudinary.com/kkimages/image/upload/v1655404937/traveloguedefault.jpg"
                    width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-5">
        <h5 class="mt-4"><strong>About World Travelogue</strong></h5>
        <p>World Travelogue is a free online travel diary for travellers across the world. It works from internet cafes and
            computers world wide, to allow you to update an online travel diary and share your experiences, it is free
            to join and takes just minutes to signup. You can contact us
            <a href="mailto:info@worldtravelogue.com"
                aria-label="Open email client in a new window.">here</a> for further information.</p>
        <h5 class="mt-4"><strong>Common Questions</strong></h5>
        <p class="mt-2"><strong><em>What is a blog?</em></strong></p>
        <p>A blog is a web based journal. Lots of travellers write down a daily journal or at least intend to, so the
            idea here is that you can write down your journal online.</p>
        <p class="mt-2"><strong><em>What is travel blog?</em></strong></p>
        <p>Travel blog is based on the theme in Travel and is a collection of tools so that travellers can write down a
            journal and share it to family, friends and other travellers.</p>
        <p>Photos can be added to your blog if you can upload the image online.</p>
        <p>Add link to useful sites about areas can help out future travellers.</p>
        <p>Join the discussion about the blog by leaving comments in the blog.</p>
    </div>
</div>

{% endblock content %}