{% extends 'base.html' %}

{% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">World Travelogue</h1>
                <p class="post-subtitle">Contact Us</p>
                <br>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <!-- Default image -->
                <img src="https://res.cloudinary.com/kkimages/image/upload/v1655404937/traveloguedefault.jpg"
                    width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="text-center mb-5">
            <h2 class="mt-4 h5"><strong>Contact us</strong></h2>
            <p class="mt-4"><strong>Address:</strong><br>
                44 Travelogue Way<br>Manchester<br>M1 1ML<br>United Kingdom</p>
            <p><strong>Telephone:</strong><br>+44 0161 123 4567</p>
            <p><strong>Email:</strong>
                <a href="mailto:info@worldtravelogue.com"
                aria-label="Open email client in a new window.">info@worldtravelogue.com</a>
            </p>
        </div>
    </div>
</div>

{% endblock content %}