{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
   <!-- Page header -->
   <header class="py-5 bg-light border-bottom mb-4">
    <div class="container">
        <div class="text-center my-1">
            {% if "newpost" in request.path %}
                <h1 class="fw-bolder">Create a New Post</h1>
            {% else %}
                <h1 class="fw-bolder">Update Your Post</h1>
            {% endif %}
        </div>
    </div>
    </header>
    <div class="container">
        <!-- Form for create and update post -->
        <form method="POST" enctype="multipart/form-data">
            <fieldset class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mb-5">
                <br>
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                <a class="btn btn-secondary btn-lg" href="{% url 'home' %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}
